<html>
{% extends "base.html" %} {% block title %}View Records{% endblock %} {% block content
%}
<head>
<style>
.card-link{
border-radius: 8px;
padding: 15px 32px;
text-align: center;
text-decoration: none;
transition-duration: 0.4s;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}

.card-link:hover {
background-color: gray;
color: white;
}
</style>
</head>
<h1 align="center">Records</h1>
<br/>
<div class="container">
    <div class="row row-cols-3">
        {% for i in range(0, length) %}
        <div class="col-sm-4 mb-3">
            <div class="card" style="width: 18rem;">
                    <img src="static/QRCode{{i}}.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"><b>Record {{ certs[i].id }}</b></h5>
                    <p class="card-text"></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Last Name:</b>&nbsp;{{ certs[i].lastName }} </li>
                    <li class="list-group-item"><b>First Name:</b>&nbsp;{{ certs[i].firstName }} </li>
                </ul>
                <div class="card-body">
                    <a href="#" type="hidden" id="certRecord" name="certRecord" data-toggle="modal" data-target='#unlock'
                    button class="button" value="certs[i].user_id" onclick="myFunction({{ certs[i].user_id }})">Unlock</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    function myFunction(user_id) {
      document.getElementById("action").value = user_id;
    }
</script>

<div class="modal fade" id="unlock" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"> <i class="fa fa-id-card-o"></i> Unlock Record</h4>
        </div>
        <div class="modal-body">
          <form method="POST" action="#">
            <div class="form-group">
              <label for="user.password">Confirm Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Enter password"
                required>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default btn-danger" data-dismiss="modal"><i class="fa fa-remove"
                  aria-hidden="true"></i>Cancel</button>
              <button type="submit" id="action" name="action" class="btn btn-primary" value="" style="width:100px"><i
                  class="fa fa-check"></i> Unlock</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}
</html>